h2 sub {
  margin-left: 0.2em;
  font-size: 0.6em;
  font-weight: 700;
}

.homeMenu {
  width: 100%;
}

.homeMenu ul {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  margin: 0.2em 0;
}

.homeMenu ul li {
  list-style: none;
  padding: 0.4em;
  width: 10em;
  cursor: pointer;
  border-radius: 0.1em;
}
.homeMenu ul li:hover {
  background-color: var(--homeListHover);
}

.homeMenu ul li .after {
  position: absolute;
  width: 10em;
  height: 3px;
  background-color: var(--panelColor);
  transform: translate(-0.4em, 2.3em);
}

.homeMenu ul li .homeListContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.homeMenu ul li h4 {
  font-weight: 500;
  margin-right: 0.4em;
}

.homeMenu ul li .no_of_msgs {
  background-color: var(--panelColor);
  color: var(--panelLIColor);
  border-radius: 50%;
  width: 2em;
  height: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.homeTable {
  border-collapse: collapse;
  width: 100%;
}

.homeTable th {
  background-color: var(--panelColor);
  color: var(--panelLIColor);
}

.homeTable td,
.homeTable th {
  height: 100%;
  border: 1px solid var(--hrColor);
  text-align: center;
  padding: 8px;
}

.homeTable tr:nth-child(even) {
  background-color: var(--tableBg);
  color: var(--panelLIColor);
}

.no_data_found {
  width: 50%;
}

.verified_user_id_proof {
  height: 40px;
  width: 40px;
  object-fit: cover;
  border-radius: 50%;
  cursor: pointer;
}

.popup_verification_image {
  height: 80vh;
  object-fit: contain;
}

/* cards styling  */
.Home .cards {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 2em;
  padding: 0 2rem;
}

.Home .cards .card {
  padding: 4px 10px;
  background-color: var(--panelLIColor);
  box-shadow: 2px 4px 8px 0.1px var(--boxShadow);
  transition: all 0.1s ease-in-out;
  display: grid;
  grid-template-columns: 80% 20%;
  min-height: 7rem;
  border-radius: 6px;
}

.Home .cards .card:hover {
  box-shadow: 2px 8px 12px 0.1px var(--boxShadow);
}

.Home .cards .card .cardContent {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.Home .cards .card .cardContent:first-child {
  font-size: 15px;
}
.Home .cards .card .cardContent .card__count {
  font-size: 20px;
  font-weight: 700;
}

.Home .cards .card .image {
  display: flex;
  justify-content: center;
  align-items: center;
}
