:root {
  --panelColor: rgb(0, 119, 255);
  --tableBg: rgba(0, 119, 255, 0.6);
  /* --panelColor: rgb(255, 0, 0);
  --tableBg: rgba(255, 0, 0, 0.5); */
  --panelLIColor: white;
  --fontColor: black;
  --hrColor: rgb(60, 60, 60);
  --homeListHover: rgb(234, 234, 234);
}
.App .CompanyLogo {
  position: absolute;
  opacity: 0.16;
  top: 50vh;
  left: 50vw;
  transform: translate(-40%, -50%);
}
